
@{
    ViewBag.Title = "Social Activity";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">Employee Profile</a>

                </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse">
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/24/Crystal_personal.svg/2000px-Crystal_personal.svg.png" alt="pictures" style="width:200px;height:150px;"></img>
                <table class="prof_table">
                    <tbody>
                        <tr>
                            <td>Employee No.</td>
                            <td width="1em"</td>
                            <td>#HAPU04</td>
                        </tr>
                        <tr>
                            <td>Name</td>
                            <td width="1em"</td>
                            <td>Bobby White</td>
                        </tr>
                        <tr>
                            <td>Department Name</td>
                            <td width="1em"</td>
                            <td>icstars|*Columbus</td>
                        </tr>
                        <tr>
                            <td>Narrative</td>
                            <td width="1em"</td>
                            <td>bla bla bla</td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Birthdays & Anniversaries</a>
                    </h4>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <ul>
                        <iframe src="https://calendar.google.com/calendar/htmlembed?src=%23contacts%40group.v.calendar.google.com&ctz=America/New_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

                        
                    </ul>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">PU & L completion%</a>
                    </h4>
                </div>
                <div id="collapse3" class="panel-collapse collapse">
                    <div class="panel-body">-----</div><br>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Number of Culture Champions</a>
                    </h4>
                </div>
                <div id="collapse4" class="panel-collapse collapse">
                    <div class="panel-body">----</div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">Number of ERG participants</a>
                        </h4>
                    </div>
                    <div id="collapse5" class="panel-collapse collapse">
                        <div class="panel-body">-----</div><br>
                       
                    </div>
                </div>
                
                </div>
        </div>
    </div>


    <div class="card">


    </div>
    <table class="prof_table">
        <tbody>

            
            

        </tbody>
    </table>

    <hr>

</div>


